// 颜色，会通过主题更改
body.m-theme-dark {
  // color
  --color-first: rgba(255, 255, 255, 0.8); // black 主内容
  --color-second: #353535; // semi 次要主内容
  --color-third: #888; // grey 次要内容
  --color-fourth: #b2b2b2; // light 缺省
  --color-primary: #1eac52;
  --color-white: white;
  --color-black: black;

  // bg
  --color-bg-white: white;
  --color-bg-back: #f6f6f6; // 背景色
  --color-bg-light: #fbfbfb; // 亮点的背景色
  --color-bg-primary: #1eac52;

  // active
  --color-bg-white-active: #ececec;
  --color-bg-back-active: #ececec;
  --color-bg-primary-active: shade(#1eac52, 10%);

  // btn
  --btn-color-default: #888;
  --btn-color-default-active: shade(#888, 10%);

  // search
  --fake-search-bg-light: rgba(214, 214, 214, 0.3);

  // calendar
  --calendar-bg-active: tint(#1eac52, 90%);
}
