// 颜色，会通过主题更改
body.m-theme-dark {
  // color
  --color-default: rgba(255, 255, 255, 0.8); // 主内容
  --color-desc: rgba(255, 255, 255, 0.5); // 次要内容
  --color-primary: rgba(30, 172, 82, 1);
  --color-white: black;
  --color-black: rgba(255, 255, 255, 0.8);

  // bg
  --color-bg-white: #232323;
  --color-bg-back: #191919; // 背景色
  // TODO
  --color-bg-light: #fbfbfb; // 亮点的背景色
  --color-bg-primary: rgba(30, 172, 82, 1);

  // active
  --color-bg-white-active: #373737;
  --color-bg-back-active: #373737;
  --color-bg-primary-active: shade(#1eac52, 10%);

  // btn dark 无需改
  --btn-color-default: #888;
  --btn-color-default-active: shade(#888, 10%);
  --btn-color-bg-default: #232323;
  --btn-color-bg-default-active: #373737;

  // calendar
  --calendar-bg-active: rgba(30, 172, 82, 0.2);
}
