body.m-theme-jd {
  // color
  --color-primary: rgba(224, 32, 32, 1);

  // bg
  --color-bg-primary: rgba(224, 32, 32, 1);

  // active
  --color-bg-primary-active: shade(rgba(224, 32, 32, 1), 10%);

  // calendar
  --calendar-bg-active: rgba(224, 32, 32, 0.2);
}
