html.m-theme-tao_bao {
  // color
  --m-color-primary: rgba(255, 101, 0, 1);

  // bg
  --m-color-bg-primary: rgba(255, 101, 0, 1);

  // active
  --m-color-bg-primary-active: darken(rgba(255, 101, 0, 1), 10%);

  // calendar
  --m-calendar-bg-active: fadeout(rgba(255, 101, 0, 1), 80%);
}
