.m-bg-white {
  background: var(--m-color-bg-white) !important;
}

.m-bg-back {
  background: var(--m-color-bg-back) !important;
}

.m-bg-light {
  background: var(--m-color-bg-light) !important;
}

.m-bg-primary {
  background: var(--m-color-bg-primary) !important;
}

.m-bg-danger {
  background: var(--m-color-bg-danger) !important;
}

.m-bg-accent {
  background: var(--m-color-bg-accent) !important;
}

.m-bg-accent-light {
  background: var(--m-color-bg-accent-light) !important;
}

.m-bg-white-active-with {
  .mBgWhiteActiveWith();
}

.m-bg-back-active-with {
  .mBgBackActiveWith();
}

.m-bg-light-active-with {
  .mBgLightActiveWith();
}

.m-bg-primary-active-with {
  .mBgPrimaryActiveWith();
}

.m-bg-danger-active-with {
  .mBgDangerActiveWith();
}
