.m-btn {
  height: var(--size-form-height);
  line-height: var(--size-form-height);
  border-radius: var(--size-form-height);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 var(--size-form-height);
  font-size: var(--size-text-15);
  user-select: none;
  outline: none;
  min-width: 180px;

  &.m-btn-default {
    .mBtnVariants(var(--btn-color-default), var(--btn-bg-default), var(--btn-bg-default-active));

    &.m-btn-plain {
      border-color: var(--color-border);
      color: var(--color-first);
    }
  }

  &.m-btn-primary {
    .mBtnVariants(var(--color-white), var(--color-primary), var(--color-primary-active));
  }

  &.m-btn-danger {
    .mBtnVariants(var(--color-white), var(--color-danger), var(--color-danger-active));
  }

  &.m-btn-link {
    background: transparent;
    border-color: transparent;
    color: var(--color-link);
    padding: 0 10px;
    min-width: auto;

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      border-color: transparent;
      color: var(--color-disabled);
    }
  }

  &.m-btn-lg {
    min-width: 210px;
  }

  &.m-btn-sm {
    min-width: 60px;
    height: var(--size-form-height-sm);
    line-height: var(--size-form-height-sm);
    padding: 0 calc(var(--size-form-height-sm) / 2);
    font-size: var(--size-text-13);
  }

  &.m-btn-block {
    border-radius: 0;
    display: block;
    width: 100%;
  }

  .m-btn-loading {
    display: inline-block;
    margin-right: 5px;

    .m-loading-circle {
      margin-top: -3px;
      font-size: 1.2em;
    }
  }
}

.mBtnVariants(@color; @brand; @activeBrand) {
  background: @brand;
  border-color: @brand;
  color: @color;

  &.m-btn-plain {
    background: var(--color-white);
    border-color: @brand;
    color: @brand;

    &:active {
      background: var(--btn-bg-default-active);
      color: var(--btn-color-default);
      border-color: var(--btn-bg-default-active);
    }
  }

  &:active {
    background: @activeBrand;
    border-color: @activeBrand;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
