.m-tabbar {
  background-color: var(--m-color-bg-white);
  height: 100%;
  position: relative;
  z-index: var(--m-z-index-tabbar);

  .mBorderTopBeforeWith();

  .m-tabbar-flow-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--m-color-bg-primary);
    color: var(--m-color-white);
    position: absolute;
    top: 0;
    right: 50%;
    font-size: 22px;
    transform: translate(50%, -50%);
    z-index: var(--m-z-index-tabbar);
  }

  .m-tabbar-nav {
    padding: 5px 0;
    color: var(--m-color-desc);
    line-height: 1;
    outline: none;

    .mBgWhiteActiveWith();

    &.active {
      color: var(--m-color-primary);
    }

    .m-tabbar-nav-icon {
      font-size: var(--m-size-text-20);
      position: relative;
      text-align: center;
    }

    .m-tabbar-nav-name {
      font-size: var(--m-size-text-10);
      margin-top: 2px;
      line-height: 1;
    }
  }
}
