@font-face {
    font-family: gm-mobile-icons;
    src: url("gm-mobile-icons.eot");src: url("gm-mobile-icons.eot?e18fc631#iefix") format("embedded-opentype"),
             url("gm-mobile-icons.woff2?e18fc631") format("woff2"),
             url("gm-mobile-icons.woff?e18fc631") format("woff"),
             url("gm-mobile-icons.ttf?e18fc631") format("truetype"),
             url("gm-mobile-icons.svg?e18fc631#gm-mobile-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="m-font"], [class*=" m-font"] {
    font-family: 'gm-mobile-icons' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.m-font-angle-left::before {
    content: "\ea01";
}

.m-font-angle-right::before {
    content: "\ea02";
}

.m-font-arrow-down::before {
    content: "\ea03";
}

.m-font-cart::before {
    content: "\ea04";
}

.m-font-close-circle::before {
    content: "\ea05";
}

.m-font-delete::before {
    content: "\ea06";
}

.m-font-down-small::before {
    content: "\ea07";
}

.m-font-down-up-circle::before {
    content: "\ea08";
}

.m-font-expired::before {
    content: "\ea09";
}

.m-font-info-circle::before {
    content: "\ea0a";
}

.m-font-keyboard_del::before {
    content: "\ea0b";
}

.m-font-loading::before {
    content: "\ea0c";
}

.m-font-minus-circle::before {
    content: "\ea0d";
}

.m-font-minus::before {
    content: "\ea0e";
}

.m-font-password-close::before {
    content: "\ea0f";
}

.m-font-password-open::before {
    content: "\ea10";
}

.m-font-plus-circle::before {
    content: "\ea11";
}

.m-font-plus::before {
    content: "\ea12";
}

.m-font-remove::before {
    content: "\ea13";
}

.m-font-search::before {
    content: "\ea14";
}

.m-font-success-circle::before {
    content: "\ea15";
}

.m-font-warning::before {
    content: "\ea16";
}

