.m-panel {
  border-radius: 10px;
  background: var(--m-color-bg-white);
  overflow: hidden;

  &.m-panel-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.m-panel-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .m-panel-title {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;

    .mBgWhiteActiveWith();
  }

  .m-panel-action {
    font-size: 12px;
  }
}
