.m-panel {
  border-radius: 10px;
  background: var(--color-bg-white);

  &.m-panel-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.m-panel-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .m-panel-title {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: var(--color-first);
    text-decoration: none;
    font-size: 16px;
  }
}
