.m-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;

  .mActiveBgWhiteWith();

  .m-checkbox-input {
    display: none;
  }

  .m-checkbox-input + .m-checkbox-span {
    width: 1.3em;
    height: 1.3em;
    position: relative;
    top: 0;
    margin-right: 10px;
    -webkit-appearance: none;
    border: 1px solid var(--color-border);
    transition: background-color 0.1s linear;
    border-radius: 2px;
  }

  &.m-checkbox-circle {
    .m-checkbox-input + .m-checkbox-span {
      border-radius: 50%;
      border-radius: 50%;
    }
  }

  &.m-checkbox-primary {
    .m-checkbox-input:checked + .m-checkbox-span {
      background-color: var(--color-primary);
    }
  }

  .mDisabledWith();

  &.disabled {
    .m-checkbox-span {
      background-color: var(--color-bg-back);
    }
  }

  .m-checkbox-input:checked + .m-checkbox-span {
    border: 1px solid transparent;
    background-color: var(--color-accent);

    &::after {
      content: '';
      position: absolute;
      width: 0.6em;
      height: 0.3em;
      top: 0.35em;
      left: 0.3em;
      border-left: 2px solid var(--color-white);
      border-bottom: 2px solid var(--color-white);
      transform: rotate(-45deg);
    }
  }
}
