.m-checkbox {
  .m-checkbox-success-icon {
    color: var(--color-accent);
  }

  .m-checkbox-circle-icon {
    color: var(--color-border);
  }

  &.m-checkbox-inline {
    display: inline-block;
    padding-right: 10px;

    .m-checkbox-success-icon,
    .m-checkbox-circle-icon {
      vertical-align: middle;
      margin-top: -2px;
    }
  }

  .mDisabledWith();
}
