.m-checkbox {
  &.m-checkbox-inline {
    display: inline-block;
    padding-right: 5px;

    .m-checkbox-icon {
      vertical-align: middle;
      margin-top: -2px;
    }
  }

  .mDisabledWith();
}
