.m-bg-white {
  background: var(--color-bg-white) !important;
}

.m-bg-back {
  background: var(--color-bg-back) !important;
}

.m-bg-light {
  background: var(--color-bg-light) !important;
}

.m-bg-primary {
  background: var(--color-bg-primary) !important;
}

.m-bg-white-active {
  background: var(--color-bg-white-active) !important;
}

.m-bg-primary-active {
  background: var(--color-bg-primary-active) !important;
}

.m-bg-danger-active {
  background: var(--color-bg-danger-active) !important;
}
