.m-border {
  border: 1px solid var(--color-border);
}

.m-border-top {
  border-top: 1px solid var(--color-border);
}

.m-border-left {
  border-left: 1px solid var(--color-border);
}

.m-border-right {
  border-right: 1px solid var(--color-border);
}

.m-border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.m-border-1px-before {
  .mBorderAllBefore();
}

.m-border-1px-after {
  .mBorderAllAfter();
}

.m-border-1px-top-before {
  .mBorderTopBefore();
}

.m-border-1px-top-after {
  .mBorderTopAfter();
}

.m-border-1px-left-before {
  .mBorderLeftBefore();
}

.m-border-1px-left-after {
  .mBorderLeftAfter();
}

.m-border-1px-right-before {
  .mBorderRightBefore();
}

.m-border-1px-right-after {
  .mBorderRightAfter();
}

.m-border-1px-bottom-before {
  .mBorderBottomBefore();
}

.m-border-1px-bottom-after {
  .mBorderBottomAfter();
}

.m-border-none {
  border: none !important;
}
