.mDisabled() {
  opacity: 0.5;
  cursor: not-allowed;
}

.mDisabledWith() {
  &.disabled,
  &[disabled] {
    .mDisabled();
  }
}

.mActiveBgWhite() {
  background: var(--color-bg-white-active);
}

.mActiveBgWhiteWith() {
  &:active,
  &.active {
    .mActiveBgWhite();
  }
}
