.m-text-center {
  text-align: center !important;
}

.m-text-left {
  text-align: left !important;
}

.m-text-right {
  text-align: right !important;
}

// .m-text {
//   color: @defaultColor !important;
// }

.m-text-desc {
  color: var(--color-desc) !important;
}

.m-text-disabled {
  color: var(--color-disabled) !important;
}

.m-text-white {
  color: var(--color-white) !important;
}

.m-text-primary {
  color: var(--color-primary) !important;
}

.m-text-warning {
  color: var(--color-warn) !important;
}

.m-text-red {
  color: var(--color-red) !important;
}

.m-text-link {
  color: var(--color-link) !important;
}

// .m-text-coral {
//   color: @coralColor !important;
// }

// .m-text-apricot {
//   color: @apricotColor !important;
// }

// .m-text-mint {
//   color: @mintColor !important;
// }

// .m-text-teal {
//   color: @tealColor !important;
// }

// .m-text-arctic {
//   color: @arcticColor !important;
// }

// .m-text-violet {
//   color: @violetColor !important;
// }

.m-text-line {
  line-height: 1 !important;
}

.m-text-small {
  font-size: var(--size-text-12) !important;
}

.m-text-lighter {
  font-weight: lighter !important;
}

.m-text-30 {
  font-size: var(--size-text-30) !important;
}

.m-text-24 {
  font-size: var(--size-text-24) !important;
}

.m-text-18 {
  font-size: var(--size-text-18) !important;
}

.m-text-16 {
  font-size: var(--size-text-16) !important;
}

.m-text-14 {
  font-size: var(--size-text-14) !important;
}

.m-text-12 {
  font-size: var(--size-text-12) !important;
}

.m-text-10 {
  font-size: var(--size-text-10) !important;
}

.m-text-8 {
  font-size: var(--size-text-8) !important;
}

.m-text-bold {
  font-weight: bold;
}

.m-text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.m-text-no-ellipsis {
  white-space: normal;
}

.m-line-height {
  line-height: 1;
}
