.m-text-20 {
  font-size: var(--size-text-20) !important;
}

.m-text-18 {
  font-size: var(--size-text-18) !important;
}

.m-text-17 {
  font-size: var(--size-text-17) !important;
}

.m-text-14 {
  font-size: var(--size-text-14) !important;
}

.m-text-13 {
  font-size: var(--size-text-13) !important;
}

.m-text-11 {
  font-size: var(--size-text-11) !important;
}

.m-text-center {
  text-align: center !important;
}

.m-text-left {
  text-align: left !important;
}

.m-text-right {
  text-align: right !important;
}

.m-text {
  color: var(--color-first) !important;
}

.m-text-desc {
  color: var(--color-desc) !important;
}

.m-text-disabled {
  color: var(--color-disabled) !important;
}

.m-text-white {
  color: var(--color-white) !important;
}

.m-text-primary {
  color: var(--color-primary) !important;
}

.m-text-warning {
  color: var(--color-warn) !important;
}

.m-text-red {
  color: var(--color-red) !important;
}

.m-text-link {
  color: var(--color-link) !important;
}

.m-text-line-height {
  line-height: 1 !important;
}

.m-text-lighter {
  font-weight: lighter !important;
}

.m-text-bold {
  font-weight: bold;
}

.m-text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.m-text-no-ellipsis {
  white-space: normal;
}
