/*
规则
--color 颜色相关
--size 尺寸相关
--btn 具体业务
*/
// stylelint-disable

// 颜色，会通过主题更改
body {
  // color
  --color-first: black; // black 主内容
  --color-second: #353535; // semi 次要主内容
  --color-third: #888; // grey 次要内容
  --color-fourth: #b2b2b2; // light 缺省
  --color-primary: #1eac52;
  --color-white: white;
  --color-black: black;

  // bg
  --color-bg-white: white;
  --color-bg-back: #f6f6f6; // 背景色
  --color-bg-light: #fbfbfb; // 亮点的背景色
  --color-bg-primary: #1eac52;

  // active
  --color-bg-white-active: #ececec;
  --color-bg-back-active: #ececec;
  --color-bg-primary-active: shade(#1eac52, 10%);

  // btn
  --btn-color-default: #888;
  --btn-color-default-active: shade(#888, 10%);

  // search
  --fake-search-bg-light: rgba(214, 214, 214, 0.3);

  // calendar
  --calendar-bg-active: tint(#1eac52, 90%);
}

// 不变的颜色
body {
  // color
  --color-placeholder: #b2b2b2;
  --color-accent: #ff6500;
  --color-success: #1eac52;
  --color-danger: #fa5151;
  --color-link: #576b95;
  --color-desc: #888;
  --color-red: red;

  // bg
  --color-bg-accent: #ff6500;
  --color-bg-accent-light: tint(#ff6500, 80%);
  --color-bg-danger: #fa5151;

  // active
  --color-bg-danger-active: shade(#e64340, 10%);

  // border
  --color-border: rgba(0, 0, 0, 0.1);

  // mask 背景色
  --color-bg-mask: rgba(0, 0, 0, 0.6);
}

// 非颜色
body {
  // 字体尺寸
  --size-text-10: 10px;
  --size-text-12: 12px;
  --size-text-14: 14px;
  --size-text-16: 16px;
  --size-text-18: 18px;
  --size-text-20: 20px;

  // line-height
  --size-line-height: 1.6;

  // height
  --size-tabbar-height: 49px;
  --size-header-height: 50px;
  --size-form-height: 40px;
  --size-form-height-sm: 30px;

  // zIndex
  --z-index-header: 20;
  --z-index-tabbar: 20;
  --z-index-innerLayer: 900;
  --z-index-mask: 1000;
  --z-index-popup: 2000;
  --z-index-trigger: 2000;
  --z-index-previewImage: 4000;
  --z-index-dialog: 5000;
  --z-index-picker: 6000;
  --z-index-toast: 7000;
  --z-index-nprogress: 9999;
}
