// web 特有的
* {
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

pre {
  margin: 0;
  padding: 0;
}
// web 特有的 end

// @gm-mobile/c-react
@import '~@gm-mobile/c-react/src/index';

.m-input {
  -webkit-appearance: none;
}

// 具体业务
@import './component/image/style.less';
@import './component/header/style.less';
@import './component/nprogress/style.less';
@import './component/counter/style.less';
@import './component/uploader/style.less';
@import './component/keyboard/style.less';
@import './component/scroll/style.less';
@import './component/list/style.less';
@import './component/letter_index/style.less';
@import './component/progress_bar/style.less';
@import './component/tab_bar/style.less';
