.m-coupon-container {
  display: inline-block;
  width: 100%;
  min-height: 110px;
  cursor: pointer;
  overflow: hidden;

  .m-coupon {
    display: flex;
    position: relative;
    background-color: transparent;

    .mCouponSawtooth(var(--m-color-accent));

    .m-coupon-left {
      min-width: 105px;
      color: var(--m-color-white);
      background-color: var(--m-color-bg-accent);
      margin-left: 5px;

      .m-coupon-left-currency {
        width: 10px;
        height: 35px;
        font-size: 14px;
        color: var(--m-color-true-white);
      }

      .m-coupon-left-discount {
        font-size: 35px;
        font-weight: bold;
        color: var(--m-color-true-white);
      }

      .m-coupon-left-total {
        display: inline-block;
        width: 100%;
        height: 20px;
        text-align: center;
        font-size: 12px;
        color: var(--m-color-true-white);
        opacity: 0.8;
      }
    }

    .m-coupon-right {
      min-width: 180px;
      min-height: 110px;
      border-radius: 0 6px 6px 0;
      background-color: var(--m-color-bg-back);

      .m-coupon-right-header {
        width: 100%;
        padding: 10px 15px 5px 15px;
        position: relative;

        &.m-coupon-right-header-padding {
          padding-right: 25px;
        }

        .m-coupon-right-header-title {
          font-weight: bold;
          color: var(--m-color-black);
        }

        .m-coupon-right-header-label {
          display: inline-block;
          background-color: var(--m-color-bg-accent-light);
          color: var(--m-color-accent);
          font-size: 12px;
          padding: 0 5px;
          border-radius: 2px;
          margin-right: 2px;
        }

        .m-coupon-right-header-date {
          height: 30px;
          font-size: 12px;
          color: var(--m-color-default);
        }

        .m-coupon-right-header-btn {
          width: 70px;
          height: 25px;
          line-height: 25px;
          position: absolute;
          right: 10px;
          text-align: center;
          background-color: var(--m-color-bg-accent);
          color: var(--m-color-white);
          border-radius: 30px;
        }

        .m-coupon-right-expired {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          right: -5px;
        }

        .m-coupon-right-expired-text {
          width: 50px;
          height: 50px;
          position: absolute;
          transform: rotate(-25deg);
          color: var(--m-color-coupon-disabled);
          font-weight: bold;
          top: 0;
          right: -5px;
          font-size: 12px;
          word-break: break-all;
        }

        .m-coupon-right-checked {
          position: absolute;
          top: 50%;
          right: -18px;
          transform: translate(-50%, -50%);
        }
      }

      .m-coupon-right-footer {
        width: 100%;
        height: 30px;
        position: relative;
        padding: 0 10px 0 15px;
        color: var(--m-color-default);
        font-size: 13px;

        &::after {
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          border-top: 1px dashed var(--m-color-border-dark);
          transform: scaleY(0.5);
          transform-origin: 0 0;
        }

        .m-coupon-right-footer-down-up {
          width: 1.2em;
          height: 1.2em;
        }

        .m-coupon-right-footer-icon {
          &.active {
            transform: rotate(180deg);
            justify-content: start;
          }
        }
      }
    }
  }

  .m-coupon-use-info {
    display: block;
    padding: 10px;
    background-color: var(--m-color-bg-back);
    border-radius: 6px;
    color: var(--m-color-desc);
    margin-top: 2px;
    font-size: 13px;
  }

  &.disabled {
    cursor: not-allowed;

    .m-coupon {
      .mCouponSawtooth(var(--m-color-bg-coupon-disabled));

      .m-coupon-left {
        background-color: var(--m-color-bg-coupon-disabled);
      }

      .m-coupon-right {
        .m-coupon-right-header {
          .m-coupon-right-header-btn {
            background-color: var(--m-color-bg-coupon-disabled);
          }

          .m-coupon-right-header-label {
            background-color: var(--m-color-bg-coupon-disabled);
            opacity: 0.6;
            color: var(--m-color-default);
          }
        }
      }
    }
  }
}

.mCouponSawtooth(@bgColor) {
  &::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 6px;
    left: 0;
    top: 0;
    background-image:
      radial-gradient(
        transparent 0,
        transparent 4px,
        @bgColor 5px
      );
    background-size: 12px 12px;
    background-position: 6px 2px;
  }
}

// 领取型优惠券样式
.m-received-coupon {
  display: inline-block;
  width: auto;
  height: 60px;

  .m-received-coupon-received {
    color: var(--m-color-coupon-disabled) !important;
  }

  .m-received-coupon-container {
    position: relative;
    border-radius: 6px;
    height: 60px;
    background-image:
      radial-gradient(
        circle at 9px 8px,
        transparent 0%,
        transparent 6px,
        var(--m-color-bg-white) 6px,
        var(--m-color-bg-white) 100%
      );
    background-position: right 42.5px top -8px;
    background-size: 100% 60px;
  }

  .m-received-coupon-left {
    min-width: 90px;
    height: 60px;
    padding: 10px 15px;
    white-space: nowrap;

    .m-received-coupon-left-header {
      font-size: 18px;
      color: var(--m-color-accent);
      font-weight: bold;

      .m-received-coupon-left-currency {
        margin-right: 3px;
      }

      .m-received-coupon-left-info {
        font-size: 12px;
        font-weight: normal;
        color: var(--m-color-desc);
        margin-bottom: -2px;
        transform: scale(0.9);
      }
    }

    .m-received-coupon-left-total {
      line-height: 20px;
      font-size: 12px;
      color: var(--m-color-default);
    }
  }

  .m-received-coupon-right {
    width: 34px;
    height: 44px;
    margin: 8px 0;
    border-left: 1px dashed var(--m-color-accent);

    .m-received-coupon-right-btn {
      height: 36px;
      width: 18px;
      font-size: 11px;
      background-color: var(--m-color-bg-accent);
      text-align: center;
      color: var(--m-color-white);
      border-radius: 18px;
      padding: 4px 0;

      &.m-received-coupon-right-btn-received {
        background-color: var(--m-color-bg-coupon-disabled);
      }
    }
  }
}
