.m-calendar {
  .m-calendar-week {
    height: 30px;
  }

  .m-calendar-day {
    height: 40px;

    &.m-calendar-day-label {
      height: 46px;
      line-height: 1.4;
    }

    &.m-calendar-day-active {
      background-color: var(--color-bg-primary-active);
      border-radius: 4px;
      color: var(--color-white);
    }

    &.m-calendar-day-point {
      background-color: var(--color-primary);
      border-radius: 4px;
    }

    &.m-calendar-day-disabled {
      color: var(--color-desc);
      cursor: not-allowed;
    }
  }
}
