.m-page {
  width: 100vw;
  height: 100vh;
  background: var(--color-bg-back);
  overflow: hidden;

  &.m-page-white {
    background: var(--color-bg-white);
  }

  .m-page-content {
    flex: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .m-page-header {
    height: var(--size-header-height);
  }

  .m-page-tabbar {
    height: var(--size-tabbar-height);
  }
}
