.m-loading {
  .m-loading-icon {
    vertical-align: middle;
    animation: m-loading-circle 1s steps(12, end) infinite;
    color: var(--m-color-default);
  }
}

@keyframes m-loading-circle {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
