.m-popup-container {
  .m-popup {
    position: absolute;
    z-index: var(--z-index-popup);
    overflow: hidden;

    .m-popup-content {
      background: var(--color-bg-white);
      overflow-x: hidden;
      overflow-y: auto;
    }

    &.m-popup-left {
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;

      .m-popup-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.m-popup-right {
      top: 0;
      right: 0;
      width: 70%;
      height: 100%;

      .m-popup-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.m-popup-bottom {
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: auto;
      height: auto;
      max-height: 100%;
      border-radius: 10px 10px 0 0;

      .m-popup-content {
        height: auto;
        position: initial;
      }
    }
  }
}

.m-popup-picker-container {
  z-index: var(--z-index-picker);

  .m-mask {
    z-index: var(--z-index-picker);
  }

  .m-popup {
    z-index: var(--z-index-picker);
  }
}
