.m-counter {
  display: inline-block;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  color: var(--color-primary);

  .mDisabledWith();

  &.m-counter-default {
    width: 96px;
    height: 26px;
    line-height: 26px;
    border-radius: 30px;
    font-size: 16px;

    .m-counter-content,
    .m-counter-content-text {
      width: 50px;
    }

    .mCounterVariants(23px, 26px);
  }

  &.m-counter-large {
    min-width: 256px;
    height: 36px;
    line-height: 36px;
    border-radius: 40px;
    font-size: 18px;

    .m-counter-content {
      width: calc(100% - 72px);
    }

    .mCounterVariants(36px, 36px);
  }
}

.mCounterVariants(@iconWidth, @height) {
  .m-counter-content {
    display: inline-block;
    height: @height;
    line-height: @height;
    text-align: center;
    vertical-align: top;

    .m-counter-content-text {
      display: inline-block;
      overflow-y: hidden;
      overflow-x: auto;
      height: @height;
      line-height: @height;
      color: var(--color-primary);
      text-align: center;
      vertical-align: top;
      font-weight: bold;
      font-size: 18px;
      padding: 0;

      .mScrollBarNone();
    }
  }

  .m-counter-icon {
    display: inline-block;
    height: @height;
    width: @iconWidth;
    text-align: center;
  }

  .m-counter-plus,
  .m-counter-minus {
    height: @height;
    line-height: @height;

    .mDisabledWith();
  }
}
