.m-counter {
  .m-counter-plus,
  .m-counter-minus {
    font-size: 24px;
  }

  .m-counter-plus {
    color: var(--color-primary);
  }

  .m-counter-minus {
    color: var(--color-second);
  }

  .m-counter-num {
    font-size: var(--size-text-14);
    color: var(--color-first);
    text-align: center;
    width: 40px;
    border: 0;

    &.m-counter-num-border {
      width: 40px;
      border: none;
      border-bottom: 1px solid var(--color-border);
      appearance: none;
      outline: none;
      border-radius: 0;
    }
  }

  .disabled {
    cursor: not-allowed;
    background: none;
    color: var(--color-bg-disabled);
  }
}
