.m-tabs {
  display: flex;
  width: 100%;
  background: var(--color-bg-white);

  .mBorderBottomAfter();

  .m-tabs-item {
    display: block;
    flex: 1;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    &:active {
      background: var(--color-bg-active);
    }

    .mBorderRightBefore();

    &::before {
      transform: scale(0.5);
      transform-origin: 100% 50%;
    }

    &:last-child::before {
      display: none;
    }

    .m-tabs-item-text {
      padding: 10px 4px;
    }

    &.active .m-tabs-item-text {
      display: inline-block;
      color: var(--color-primary);
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }
}
