.m-tabs {
  cursor: pointer;

  &.m-tabs-default {
    .mBorderBottomAfterWith();
    .mTabsVariants();

    .m-tabs-item-text {
      padding: 5px 0;
    }
  }

  &.m-tabs-label {
    border-radius: 10px;

    .mTabsVariants();

    .m-tabs-item-text {
      padding: 0 0 2px;
      margin: 10px 0;
    }
  }

  &.m-tabs-capsule {
    height: var(--size-form-height);
    line-height: var(--size-form-height);

    .m-tabs-content {
      background-color: var(--color-bg-primary-active);
      border-radius: var(--size-form-height);

      .m-tabs-item {
        padding: 0 calc(var(--size-form-height) / 2);
        position: relative;
        color: var(--color-white);
        border-radius: var(--size-form-height);
        //transition: background-color 0.5s ease-in-out;

        .m-tabs-item-text {
          z-index: 1;
        }

        &.active {
          color: var(--color-primary);
          background-color: var(--color-bg-white);
        }
      }
    }
  }
}

.mTabsVariants() {
  background: var(--color-bg-white);
  color: var(--color-desc);

  .m-tabs-content {
    width: 100%;
  }

  .m-tabs-item {
    flex: 1;

    .mBgWhiteActiveWith();

    &.active .m-tabs-item-text {
      color: var(--color-default);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }
}
